@import "../../style/Main.scss";

.section-competences {
  width: 80%;
  height: auto;
  margin: 0px auto auto auto;
  padding: 40px 50px;
  position: relative;
  h2 {
    font-size: 20px;
  }
  .logo-lan-size {
    width: 50px;
    height: 70px;
  }
  .langages {
    @include f-c;
    background: rgba(112, 109, 113, 0.172);
    color: white;
    .langage-front_op,
    .langage-front_ap {
      @include f-c;
      align-items: center;
      .langage-front_op_logo,
      .langage-front_ap_logo {
        @include f-r;
        gap: 100px;
      }
    }
  }
}
.c-d {
  &-content {
    @include f-r;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    h3 {
      color: rgba(183, 139, 140, 0.8);
      font-size: 18px;
    }
    &_agile {
      display: flex;
      align-items: center;
    }
  }
}
.container-agile {
  @include f-r;
  gap: 10px;
}
.logo-comp-size {
  width: 30px;
  height: auto;
}
.logo-comp-size-small {
  width: 30px;
}

@media (max-width: 950px) and (min-width: 451px) {
}
@media (max-width: 450px) {
  .section-competences {
    padding: 40px 30px;
    h2 {
      font-size: 24px;
      text-align: center;
    }
    .logo-lan-size {
      width: 50px;
      height: 70px;
    }
    .langages {
      .langage-front_op,
      .langage-front_ap {
        @include f-c;
        align-items: center;
        .langage-front_op_logo,
        .langage-front_ap_logo {
          @include f-r;
          gap: 40px;
          padding-bottom: 20px;
        }
      }
    }
  }
  .container-agile {
    flex-direction: column;
  }
}
