@import "../../style/Main.scss";

.section-competences {
  width: 80%;
  height: auto;
  margin: 40px auto 120px auto;
  padding: 40px 50px;
  background: rgba(222, 222, 222, 0.423);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: relative;

  h2 {
    font-size: 24px;
  }

  img {
    width: 50px;
    height: 70px;
  }
  .langages {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: white;
    .langage-front_op {
      display: flex;
      flex-direction: column;
      align-items: center;
      .langage-front_op_logo {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding-bottom: 20px;
      }
    }
    .langage-front_ap {
      display: flex;
      flex-direction: column;
      align-items: center;
      .langage-front_ap_logo {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding-bottom: 20px;
      }
    }
  }
}
.autres{
}

