@import "../../style/Main.scss";

.contact-container {
  position: relative;
}
.line {
  width: 1000px;
  border: 3px solid black;
  position: absolute;
  z-index: 0;
  transition: width 1s ease-in-out;
}
.line1:hover {
  width: 800px;
  height: 200px;
}
.line2:hover {
  width: 800px;
  height: 100px;
}
.line3:active {
  width: 800px;
}
.line1 {
  top: 211px;
}
.line2 {
  top: 278px;
  right: 0px;
}
.line3 {
  border-color: grey;
  rotate: 90deg;
  top: 227px;
  right: -59px;
}
