@import "../../style/Main.scss";

.contact-container {
  position: relative;
}
.line {
  width: 75%;
  border: 3px solid black;
  position: absolute;
  z-index: 0;
  height: 0px;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}
.line1:hover,
.line2:hover {
  width: 90%;
  height: 200px;
}
.line1 {
  top: 211px;
}
.line2 {
  top: 278px;
  right: 0px;
}
.line3 {
  border-color: rgba(183, 139, 140, 0.8);
  rotate: 90deg;
  top: 10%;
  right: -50px;
  z-index: -999;
}

@media (max-width: 950px) and (min-width: 451px) {
  .line {
    width: 67%;
    border: 3px solid black;
    position: absolute;
    z-index: 0;
    transition: width 1s ease-in-out, height 1s ease-in-out;
  }
  .line1:hover {
    width: 40%;
    height: 500px;
  }
  .line2:hover {
    width: 18%;
    height: 200px;
  }
  .line3:active {
    width: 10%;
  }
  .line1 {
    top: 211px;
  }
  .line2 {
    top: 400px;
    right: 0px;
  }
  .line3 {
    border-color: rgba(183, 139, 140, 0.8);
    top: 0px;
    right: -30px;
    z-index: -999;
  }
}
@media (max-width: 450px) {
  .line {
    display: none;
  }
}
