@import "../../style/Main.scss";

.section-mail {
  @include f-c;
  align-items: center;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 60px 50px 50px 50px;
  @include glass-effect;
  h2 {
    text-align: center;
  }
  .social-media {
    @include f-r;
    gap: 20px;
  }
}
@media (max-width: 950px) and (min-width: 451px) {
  .section-mail {
    padding: 60px 25px 50px 25px;
    width: 85%;
  }
}
@media (max-width: 450px) {
  .section-mail {
    gap: 20px;
    margin: 40px auto;
    width: 65%;
  }
}
