@import "../../style/Main.scss";
li {
  list-style-type: none;
}
.card {
  max-width: 1000px;
  height: 415px;
  margin: 0px auto 30px auto;
  position: relative;
  .card-img {
    object-fit: cover;
    width: 100%;
    object-position: top;
    height: 415px;
  }
  .card-link {
    cursor: pointer;
    width: 100%;
    height: 105px;
    position: absolute;
    @include f-c;
    align-items: center;
    gap: 5px;
    top: 75%;
    text-decoration: none;
    background: rgba(125, 125, 125, 0.376);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    .card-link_name {
      padding-top: 20px;
      font-size: 24px;
      color: black;
      margin: 0;
    }
    .card-link_logo {
      width: 35px;
      height: 50px;
      rotate: 90deg;
      &:hover {
        scale: 1.2;
      }
    }
  }
  .card-description {
    @include f-c;
    justify-content: space-around;
    align-items: flex-start;
    min-width: 50px;
    height: 25px;
    position: absolute;
    top: 85%;
    right: 5%;
    z-index: 999;
    .card-description_langage {
      @include f-r;

      gap: 10px;
      .card-description_langage_img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
@media (max-width: 950px) and (min-width: 451px) {
  .card {
    max-width: 100%;
    .card-description {
      top: 90%;
      right: 5%;
      .card-description_langage {
        @include f-r;
        gap: 5px;
        .card-description_langage_img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .card {
    border-top: 1px solid black;
    .card-description {
      top: 90%;
      right: 5%;
      .card-description_langage {
        @include f-r;
        gap: 5px;
        .card-description_langage_img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
