@import "../../style/Main.scss";

.carousel {
  padding-top: 40px;
  @include f-r;
  gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 0 auto auto auto;
  justify-content: center;
  max-width: 100%;
}
.container-carousel {
  width: 1000px;
  height: 415px;
}
.c-sl-al, 
.c-sl-ar{
  cursor: pointer;
  &:hover {
    scale: 1.2;
  }
}
.sec-description {
  height: 300px;
  padding: 0px 139px;
}
.section-description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 1s ease-out;
}
.visible {
  max-height: 300px;
  opacity: 1;
  margin-bottom: 0px;
}
@media (max-width: 950px) and (min-width: 451px) {
  .carousel {
    padding: 40px 15px 0px 15px;
    max-width: 96%;
  }
  .container-carousel {
    margin-bottom: 30px;
  }
  .c-sl-al,
  .c-sl-ar {
    width: 50px;
  }

  .sec-description {
    height: 418px;
    padding: 0px;
  }
  .visible {
    max-height: 300px;
    opacity: 1;
    margin-bottom: 0px;
  }
}
@media (max-width: 450px) {
  .carousel {
    margin-top: 50px;
    padding: 0px;
    display: flex;
    position: relative;
  }
  .container-carousel {
    width: 100%;
    height: 255px;
    margin: 0 auto 19px auto;
    padding: 0px 19px;
  }
  .c-sl-al {
    position: absolute;
    width: 50px;
    bottom: 91%;
    left: 5%;
    z-index: 1;
    &:hover {
      scale: none;
    }
  }
  .c-sl-ar {
    position: absolute;
    width: 50px;
    top: -23%;
    right: 5%;
    &:hover {
      scale: none;
    }
  }
  .c-sl-slide {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 255px;
  }
  .visible {
    max-height: 800px;
    opacity: 1;
    margin-bottom: 0px;
  }
  .sec-description {
    min-height: 600px;
    padding: 0px;
  }
}
