@import "../../style/Main.scss";

.carousel {
  padding: 40px 50px;
}
.container-carousel {
  max-width: 1000px;
  height: 415px;
  margin: 0px auto 30px auto;
  position: relative;
  padding: 0px 19px;

  .c-sl-al {
    position: absolute;
    top: 156.7px;
    left: 46px;
    z-index: 10;
  }
  .c-sl-ar {
    position: absolute;
    top: 156.7px;
    right: 46px;
    z-index: 10;
  }
  .c-sl-counter {
    max-width: 1000px;
    height: 100px;

    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0px auto;
  }
}
@media (min-width: 950px) and (max-width: 451px) {
  .container-carousel {
    max-width: 100%;
    margin: 0px 30px 30px 30px;
  }
}
@media (max-width: 450px) {
  .container-carousel {
    max-width: 100%;
    height: 255px;
    margin: 0 auto 19px auto;
    padding: 0px 19px;

    .c-sl-al {
      width: 24px;
      height: 24px;
      top: 45%;
      left: 23px;
    }
    .c-sl-ar {
      width: 24px;
      height: 24px;
      top: 45%;
      right: 23px;
    }
    .c-sl-slide {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 255px;
    }
    .c-sl-counter {
      display: none;
    }
  }
}
