@import "../../style/Main.scss";

.section-form-tally {
  @include f-c;
  justify-content: space-between;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 60px 50px 50px 50px;
  background: rgba(112, 109, 113, 0.172);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  .social-media-tally {
    @include f-r;
    gap: 10px;
    padding-left: 8px;
  }
  &_title{
    padding-left: 8px;
  }
}
@media (max-width: 950px) and (min-width: 451px) {
  .section-form-tally {
    padding: 60px 25px 50px 25px;
    width: 85%;
  }
}
@media (max-width: 450px) {
  .section-form-tally {
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
    width: 65%;
  }
}
