@import "../../style/Main.scss";

.linepro {
  border: 2px solid black;
  z-index: -1;
  position: absolute;
}
.line5,
.line6 {
  width: 19%;
  top: 70%;
}
.line6 {
  right: 0%;
}
@media (max-width: 450px) {
  .linepro{
    display: none;
  }
}
