@import "../../style/Main.scss";

.s-b {
  max-width: 1200px;
  margin: auto;
  .s-b-c-ti {
    @include f-r;
    justify-content: space-between;
    @include glass-effect;
    padding: 20px;
    &_t {
      @include f-c;
      width: 50%;
    }
    &_t_titre {
      font-size: 54px;
      margin-bottom: 10px;
      span {
        color: rgba(183, 139, 140, 0.8);
      }
    }
    &_t_sous-titre {
      font-size: 32px;
    }
    &_t_social-media {
      display: flex;
      gap: 10px;
      img {
        width: 50px;
      }
    }
  }
  .s-b-img {
    width: 510px;
    height: 459px;
  }
}
@media (max-width: 950px) and (min-width: 451px) {
  .s-b {
    .s-b-c-ti {
      @include f-cr-center;
      &_t {
        width: 80%;
      }
      &_t_titre {
        font-size: 45px;
        margin-bottom: 10px;
      }
      &_t_sous-titre {
        font-size: 21px;
      }
      &_t_social-media {
        img {
          width: 40px;
        }
      }
    }
    .s-b-img {
      width: 60%;
      height: auto;
    }
  }
}
@media (max-width: 450px) {
  .s-b {
    margin: 40px auto;
    .s-b-c-ti {
    @include f-cr-center;
      &_t {
        width: 80%;
      }
      &_t_titre {
        font-size: 40px;
        margin-bottom: 10px;
      }
      &_t_sous-titre {
        font-size: 21px;
      }
      &_t_social-media {
        img {
          width: 40px;
        }
      }
    }
    .s-b-img {
      width: 100%;
      height: auto;
    }
  }
}
