@import "../../style/Main.scss";

.s-b {
  max-width: 1200px;
  height: auto;
  margin: 0px auto 120px auto;
  padding: 40px 50px;
  .s-b-c-ti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(112, 109, 113, 0.172);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    &_t {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    &_t_titre {
      font-size: 54px;
      margin-bottom: 10px;
      span {
        color: rgba(183, 139, 140, 0.8);
      }
    }
    &_t_sous-titre {
      font-size: 32px;
    }
    &_t_social-media {
      display: flex;
      gap: 10px;
      img {
        width: 50px;
      }
    }
  }
  .s-b-img {
    width: 510px;
    height: 459px;
  }
}
@media (max-width: 950px) and (min-width: 451px) {
  .s-b {
    .s-b-c-ti {
      flex-direction: column-reverse;
      align-items: center;
      &_t {
        width: 80%;
      }
      &_t_titre {
        font-size: 45px;
        margin-bottom: 10px;
      }
      &_t_sous-titre {
        font-size: 21px;
      }
      &_t_social-media {
        img {
          width: 40px;
        }
      }
    }
    .s-b-img {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 450px) {
   .s-b {
    .s-b-c-ti {
      flex-direction: column-reverse;
      align-items: center;
      &_t {
        width: 80%;
      }
      &_t_titre {
        font-size: 45px;
        margin-bottom: 10px;
      }
      &_t_sous-titre {
        font-size: 21px;
      }
      &_t_social-media {
        img {
          width: 40px;
        }
      }
    }
    .s-b-img {
      width: 100%;
      height: auto;
    }
  }
}
